body {
  margin: 0;
  background-color: #1c1c1c;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F7FB;
  width: 550px;
  height: 600px;
  overflow: hidden;
}

.blob1 {
  position: absolute;
  top: -400px;
  right: -400px;
  border-radius: 100% 0% 24% 76% / 30% 0% 100% 70%;
  background-color: #fffad1;
  width: 600px;
  height: 600px;
  z-index: -1;
}

.blob2 {
  position: absolute;
  bottom: -480px;
  left: -370px;
  background-color: #deebf8;
  border-radius: 42% 58% 100% 0% / 100% 40% 60% 0%;
  width: 600px;
  height: 600px;
  z-index: -1;
}

.welcome-container {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome-title {
  text-align: center;
  color: #293264;
  font-family: 'Karla';
}

.welcome-description {
  text-align: center;
  color: #293264;
  font-family: 'Inter';
  font-weight: 400;
  padding-bottom: 20px;
  margin-top: -15px;
}

.start-quiz-button {
  border-radius: 15px;
  background: #4D5B9E;
  padding: 20px;
  width: 200px;
  text-align: center;
  line-height: 19px;
  color: #F5F7FB;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.quiz {
  padding: 30px;
  padding-bottom: 0px;
}

.question {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  padding: 10px;
}

.answer {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  height: 20.65px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #293264;
  padding: 4px 10px;
  margin: 2px 10px;
  cursor: pointer;
}

.selected {
  background-color: #D6DBF5;
}

.correct {
  background-color: #94D7A2;
  border: none;
}

.incorrect {
  background-color: #F8BCBC;
  border: none;
  opacity: 0.5;
}

.other {
  border-color: #4D5B9E;
  opacity: 0.5;
}

hr {
  border: 1px solid #DBDEF0;
  width:95%;
  margin: 5px auto;
}

.check-answers-button {
  border: none;
  border-radius: 15px;
  background: #4D5B9E;
  padding: 10px;
  width: 150px;
  text-align: center;
  line-height: 19px;
  color: #F5F7FB;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  cursor: pointer;
}
